.setting-page {
  background: #f7f8fa;
  min-height: 100vh;

  .workday-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  .workday-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    .nut-checkbox {
      margin: 0;
      justify-content: center !important;

      .nut-checkbox-icon-checked {
        color: #1e88e5 !important;
      }
    }
  }
}
